<nav class="py-1 navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-white ml-4" href="/recipes"><b>This Old Recipe</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

        <div class="mr-5">
            <ul class="navbar-nav mr-auto mr-0">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/recipes/newForm">Add Recipe</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/profile/<%=user.id%>"><%=user.name%> Profile</b></a>
                </li>

                <li class="nav-item">
                    <!-- <a class="nav-link text-white" href="/password/change">Change Password</a> -->
                    <a class="nav-link text-white" href="/recipes">Dashboard</a>

                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="/users/logout">Logout</a>
                </li>

            </ul>
        </div>

    </div>
</nav>
</div>
<img id="" style="width: 800px;" src="https://thisoldrecipe-images.s3.amazonaws.com/uploads/TOR_logAI-01.png"></img>
</div>
<div class="background">