<% recipes.forEach(recipe => { %>
    <a href="/view/<%= recipe.id %>">
        <h1><%=recipe.recipeName%></h1>
      <!-- <img src="data:image/<=recipe.imageR.contentType%>;base64,<=recipe.imageR.data.toString('base64')%>"> -->
    </a>
  <% }) %>
</div>

