<%- include('./partials/header') -%>
<%- include('./partials/navbar') -%>

<h1>CODE</h1>

<form action="/users/successCode" method="POST">
    <div class="form-group">
        <label for="recipeName">Recipe Name</label>
        <input type="email" id="emailCode" class="form-control" placeholder="Email" name="emailCode">
    </div>
<div>
    <button class="btn btn-success btn-block" type="submit">SUBMIT</button>
</div>
</form>