<h1 class="mt-4">Add new Recipe -></h1>

<form action="/new" method="POST" enctype="multipart/form-data"><div>
    <label for="recipeName">Recipe Name</label><br>
    <input type="text" id="recipeName" name="recipeName"><br>
</div>
<div>
    <label for="author">Author</label><br>
    <input type="text" id="author" name="author"><br>
</div>
<div>
    <input type="file" id="image" name="image"><br>
</div>
   
   
    <input type="submit" value="Submit">

</form>

