
.carousel-inner > .item > img {
  width:640px;
  height:360px;
}

.error {
  color: red;
}


.trash {
  cursor: pointer;
}

#mealLog {
  margin-bottom: 40px;
  box-shadow: 0px 0px 2px 1px;
  border: none;
}

#logHeader {
  font-weight: bold;
}

#title {
  z-index: 100;
  position: relative;
}

/* #submit {
  float: left;
} */

#addRow {
  float: left;
}

#motto {
  font-size: 20px;
  font-style: italic;
}

#form {
  box-shadow: 0px 0px 4px 2px gray;
  border: none;
  margin-bottom: 10px;
}

#addMeal {
  font-weight: bold;
  font-size: 35px !important;
}


/* Footer */

.footer {
  /* position: relative; */
  width: 100%;
  height: 80px;
  bottom: 0;
  padding: 20px;
}

#footerSpan {
  font-weight: bold;
  font-size: 18px;
}

/* @media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
} */




.star-rating {
  
    display:flex;
    flex-direction: row-reverse;
    font-size:2em;
    justify-content:space-around;
    padding:0 .2em;
    text-align:center;
    width:5em;
  }
  
  .star-rating input {
    display:none;
  }
  
  .star-rating label {
    color:#ccc;
    cursor:pointer;
  }
  
  .star-rating :checked ~ label {
    color:#fc0;

  }
  
  .star-rating label:hover,
  .star-rating label:hover ~ label {
      color:#f90;

  }


  /* GRID */

  body{
    font-family: 'Lato', sans-serif;
    background: #f7f7f4;
}
 
.text-center{
    text-align: center;
    margin: 1.25rem 0;
    border-bottom: 1px solid #dadada;
    padding: 1.25rem 0;
}
 
.col-md-3{
    margin: 1.25rem 0;
}
 
@media screen and (max-width: 34em) {
  .col-sm-6{
    margin-left: 1.25rem;
}
 
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.img-recipe {
  max-width: 100%;
  /* margin: .1rem; */
  line-height: 0;
  padding: 5px;
  /* border: solid 1px rgba(10, 10, 10, 0.2); */
  background: white;
  transition: transform 0.2s;
}

.img-recipe:hover {
  transform: scale(1.02);
}

.cell {
  display: block;
  text-align: center;
  margin-bottom: 1.5em;
}


