body {
    background-color: #d7daa5 !important;
    background-image: url('../images/background_light25.png');
    /* background-repeat:no-repeat; */
    /* background-size:contain; */
    /* background-position: top, bottom;
    background-repeat: repeat, repeat;  */
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  h1, 
  h3 {
    font-family: 'Merriweather', serif;
  }
  
  h3 {
    margin-top: 1em;
  }
  
  a {
    color: rgb(0, 0, 0) !important;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(125, 125, 125) !important;
    text-decoration: none;
  }

a:link { text-decoration: none !important; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
  
  .breadcrumb, 
  .intro {
    display: flex;
    align-items: center;
    padding-top: 1.85em;
  }
  
  .breadcrumb {
    padding-bottom: 1.85em;
    margin-bottom: 2em;
    border-bottom: 1px solid #dcdada;
  }
  
  .breadcrumb a {
    font-weight: 600;
    font-size: 0.85em;
    letter-spacing: 2.5px;
    text-transform: uppercase;
  }
  
  button {
    color: white;
    background-color: #343a40;
    font-size: 0.9em;
    /* padding: 0.65em; */
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    margin-left: auto;
    align-self: flex-start;
  }
  
  .intro {
    padding-bottom: 1.25em;
    margin-bottom: 1em;
  }
  
  .text-light {
    color: rgb(156, 156, 156);
  }
  
  .intro {
    border-bottom: 1px solid #dcdada;
  }
  
  .thumbnail {
    margin-bottom: 5px;
    transition: transform 0.2s;
    border: solid 6px #343a40;
    border-radius: .25em;
    width: 200px;
    height: 300px;
    object-fit: 'cover';
  }
  
  .thumbnail:hover {
    transform: scale(1.02);
  }
  
  .cell {
    display: block;
    text-align: center;
    margin-bottom: 1.5em;
  }
  
  .img-recipe {
    max-width: 70%;
    margin-bottom: 1rem;
    line-height: 0;
    padding: 5px;
    border: solid 1px #343a40;
    background: white;
  }

  .error {
    color: red;
    grid-column: 5 / 3;
  }


  ol {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
  }
  


textarea::-webkit-scrollbar{
  width: 0px;
}

  .grow-wrap {
    /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
    display: grid;
    grid-template-columns: 30% 50%;
    grid-column: 4;
    grid-gap: 5px;
    grid-area: 1 / 2;
  }

  .stepGridAreaTitle {
    grid-area: 1/1;
  }

  .stepGridArea {
    grid-area: 1/ span 2;
  }

  .grow-wrap span{
    grid-area: 1/4;
    /* margin: 0 0 1rem; */
    cursor: pointer;
    background-color: #f4f4f4;
    font-size: 1em;
    text-align: center;
    transition: all 0.3s;
    font-weight: bold;
    padding-top: 25%;
  }
  .grow-wrap span:last-child{
    display: none;
    font-size: 1em;
    transition: all 0.3s;
    font-weight: bold;
    grid-area: 1/4;
    text-align: center;
    /* margin: 0 0 1rem; */
    padding-top: 25%;

  }

  .grow-wrap span.add {
    grid-area: 1/4;
    /* margin: 0 0 1rem; */
    cursor: pointer;
    background-color: #f4f4f4;
    font-size: 1em;
    text-align: center;
    transition: all 0.3s;
    font-weight: bold;
    padding-top: 25%;
  }
  .grow-wrap span.minus:last-child{
    font-size: 1em;
    transition: all 0.3s;
    font-weight: bold;
    grid-area: 1/4;
    text-align: center;
    /* margin: 0 0 1rem; */
    padding-top: 25%;

  }





  .grow-wrap span:hover{
    background-color: #aee2ae;
  }
  .grow-wrap span:last-child:hover{
    background-color: pink;
  }
  .grow-wrap::after {
    /* Note the weird space! Needed to preventy jumpy behavior */
    content: attr(data-replicated-value) " ";
  
    /* This is how textarea text behaves */
    white-space: pre-wrap;
  
    /* Hidden from view, clicks, and screen readers */
    visibility: hidden;
  }
  .grow-wrap > textarea {
    /* You could leave this, but after a user resizes, then it ruins the auto sizing */
    resize: none;
    /* Firefox shows scrollbar on growth, you can hide like this. */
    overflow: hidden;
  }
  .grow-wrap > #stepTitleTextarea,
  .grow-wrap::after {
    /* Identical styling required!! */
    /* border: 1px solid black; */
    padding: 0.5rem;
    font: inherit;
  
    /* Place on top of each other */
    grid-area: 1 / 1 / 2 / 2 ;
  }
  

  .liStepNum::before {
    content: "Step " counter(item);
    counter-increment: item;
    /* margin-left: -2em; */
    white-space: nowrap;
    /* padding-right: 0.5em; */
    font-size: 1em;
    /* text-align: right; */

  }

  .liStepNum {
    /* display: grid;
    grid-template-columns: 10% 80%;
    grid-column: 2;
    gap: 5px; */
    background-color: #e6e6e6;
    /* border-radius: .5em; */
    padding: 10px;
  }

  .liStepNum div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    font-size: 1em;
    margin-top: 5px;
  }

.liStep {
  counter-increment: item;
  margin-bottom: 5px;
}
.liStep:before {
  margin-right: 10px;
  content: counter(item);
  border-radius: 15%;
  width: 1.2em;
  text-align: center;
  display: inline-block;
  border-style: solid;
}

.ingredients {
  display: grid;
  grid-template-columns: 58% 30% 10%;
  grid-column: 3;
  grid-gap: 5px;
}

.ingGridArea {
  grid-area: 2 / 1
}

.amountGridArea {
  grid-area: 2 / 2
}

.ingredients span {
 /* display: inline-block; */
 cursor: pointer;
 background-color: #f4f4f4;
 font-size: 1em;
 /* transition: all 0.3s; */
 font-weight: bold;
 grid-area: 2/3;
 text-align: center;
 margin: 0 0 1rem;
 padding-top: 5px;
}

.ingredients span:last-child{
  display: none;
  font-size: 1em;
  transition: all 0.3s;
  font-weight: bold;
  grid-area: 2/3;
  text-align: center;
  margin: 0 0 1rem;
  padding-top: 5px;
}

.ingredients span:hover {
  background-color: #aee2ae;
}

.ingredients span:last-child:hover{
  background-color: pink;

}

/* .carousel-item {
  width: 100%;
  max-height: 100em;
} */

.showTitleBox {
  height: fit-content;
}

.img-show {
  /* max-height: 100%; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.show-title {
  text-align: center;
  padding: 1em;
  max-height: 30em;
}

.container {
  max-width: 1000px !important;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  background: white;
  /* border-radius: .5rem; */
}

.thumbnailTitle {
  background-color:rgb(49, 49, 49);
  font-size: .75em;
  color: white;
  padding: .5em;
  border-radius: .25em;
  width: fit-content;
  margin: auto;
}

.thumbnailCarousel {
  background-color:rgb(49, 49, 49);
  color: white;
  padding: .5em;
  border-radius: .25em;
  margin: auto;
}

/* .navbar {
  display: flex !important;
  height: 75px;
  align-content: center;
} */

.carousel-inner > .item > img { 
  margin:auto;

}

.flex-parent {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 10px;

}

.flex-item {
  /* -ms-flex: 150px; IE10 */
  flex: 150px;
  /* max-width: 150px; */
  padding: 0 4px;
 }

.flex-item img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: 200px;
  margin-bottom: 5px;
  transition: transform 0.2s;
  /* border: solid 6px #343a40; */
  border-radius: .4em;
  object-fit: cover;
}

.splide__track {
  background-color:#ffffff;
  padding-top: 10px;
  padding-bottom: 25px;
  margin-bottom: 50px;
  margin-top: 20px;
  /* opacity:0.2; */
}

