<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>


<div class="notes">
    <!-- Displaying content with JavaScript -->
</div>

<div>
    <form id="newForm" action="" method="post" autocomplete="off">
    <div>
        <label for="recipeName">Recipe Name</label>
        <input type="text" id="recipeName" placeholder="Recipe Name" value="" name="recipeName"> <span class="error"><p id="recipeName_error"></p></span>
    </div>
    <div>
        <label for="author">Author</label>
        <input type="text" id="author" value="<%=user.name%>" name="author" readonly> <span class="error"><p id="author_error"></p></span>
    </div>
    <div class="field">
            <input type="text" name="notes[]">
            <span id="add" onclick="addField(this)">+</span>  
            <span id="minus" onclick="removeField(this)">-</span>
        </div>
     <div id="name">
        <label>Name</label>
        <input type="text" name="username">
     </div>
     <div class="field">
        <input type="text" name="ingredientList[]">
        <span onclick="addField(this, getElementById('recipeName'))">+</span>  
        <span onclick="removeField(this)">-</span>
    </div>
        <button type="submit">Display Notes</button>
    </form>
</div>



<%- include('../partials/footer') -%>